<div class="container" id="maincontainer">
<div id="content1"></div>
<div class="row-fluid hidden-phone">
		<div class="span12" id="countergraphic">
				
				<%= img '/images/rsdlogo.png' %>	
				<a href="javascript:void(0)" id="2c37c8cc-6e29-11e1-837a-12313b003616.836c5e9e-1ec5-11e2-933b-12313b003cf1" 
					class="fg-donation-button-4ccb04fb46c30 drop1" onclick="FG_DONATE_BUTTON.openDonationWindow(this, 'https://donate.firstgiving.com'); 						return false;">
				</a>
	
					<div id="counterd">
						<% count = @count.at_css('div.stats p strong').to_s.delete "" %>
						<strong><%= count %></strong>
					</div>		
					<!--<div id="counterp">
						<% percent = @percent.at_css('div.stats p strong').to_s.gsub(/[^0-9]/,"") %>
						<%= @percentm = percent.to_f/300000 %>%
					</div>-->
					<div id="countern">
					  <% amount = @amount.at_css('div.stats p strong').to_s.gsub(/[^0-9]/,"") %>
						<% @amountm = amount.to_f*0.833 %>
						<strong><%= @amountm.to_s.split(".")[0] %></strong>
					</div>
			</div>
		</div>
	<div class="row-fluid visible-phone">
		<div class="phcounter" id="countergraphic">
				<a href="javascript:void(0)" id="2c37c8cc-6e29-11e1-837a-12313b003616.836c5e9e-1ec5-11e2-933b-12313b003cf1" 
					class="fg-donation-button-4ccb04fb46c30" onclick="FG_DONATE_BUTTON.openDonationWindow(this, 'https://donate.firstgiving.com'); 						return false;"><%= img '/images/rsdlogo.png' %>
				</a>
					<div id="phcounterd">
						<% count = @count.at_css('div.stats p strong').to_s.delete "" %>
						<%= count %>
					</div>		
					<!--<div id="phcounterp">
						<% percent = @percent.at_css('div.stats p strong').to_s.gsub(/[^0-9]/,"") %>
						<%= @percentm = percent.to_f/300000 %>%
					</div>-->
					<div id="phcountern">
				  	<% amount = @amount.at_css('div.stats p strong').to_s.gsub(/[^0-9]/,"") %>
						<% @amountm = amount.to_f*0.833 %>
						<%= @amountm.to_s.split(".")[0] %>
					</div>
			</div>
	</div>
	<div class="row-fluid" id="content2">
		<div class="contentWrapper">
			<!--<div class="span12"><%= img 'images/kenyaimages.png'%></div>-->
			<div class="span4"><%= img '/images/photo1.jpg'%></div>
			<div class="span4"><%= img '/images/photo2.jpg'%></div>
		 	<div class="span4"><%= img '/images/photo3.jpg'%></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
			<div class="span12"><p class="h3lead">
			<font color="#00AEEF">Ready Set Drop</font> is the digital media campaign raising $300,000 to acquire and distribute the HydroPack&trade; 					as a global tool for disaster recovery. HydroPacks transform any bad water into clean and nutritious hydration, saving lives and 								strengthening communities in water crisis situations.</p>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
			<div class="span12" id="waterdropsq"><%= img '/images/waterdropsq.png'%></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
			<div class="span12">
				<p class="h3lead">Disasters are a constant threat against community water sources throughout the world. By putting an effective, short-					term solution in place, Ready Set Drop will be prepared to respond to water crises around the globe and provide <font color="#00AEEF">					Hydration For A World In Need.</font></p>
			</div>
		</div>
	</div>
	<div class="row-fluid" id="topLogos">
		<div class="span4">
			<a href="javascript:void(0)" id="2c37c8cc-6e29-11e1-837a-12313b003616.836c5e9e-1ec5-11e2-933b-12313b003cf1" 
				class="fg-donation-button-4ccb04fb46c30 ready" onclick="FG_DONATE_BUTTON.openDonationWindow(this, 'https://donate.firstgiving.com'); 						return false;">
		</a>
		</div>
		<div class="span4"><a class="scroll" href="#content4" id="set"></a>
		</div>
		<div class="span4"><a class="scroll" href="#content5" id="drop"></a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
			<div class="span12" id="dltext">
				<font color="#17AFE5"><a href="http://www.readysetdrop.com/ReadySetDrop.pdf" target="_blank">Download Our Campaign Summary</a></font>	
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper" id="content3">
			<h2>The HydroPack</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
		 	<div class="span12">
		 	<p>The HydroPack&trade; is a single-use emergency water filter that delivers 500 milliliters of hydration from virtually any water source. 				When a HydroPack is dropped in a polluted source, water is filtered as it is drawn through the membrane overnight by osmosis, mixing with 				electrolytes and nutrient-rich powders to create a safe, flavored and life-saving drink. </p>
		 	</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
		 	<div class="span12">
		 	<p><strong><font color="#17AFE5">Technology Meets Design</font></strong></p>
		 	<p>The HydroPack uses a unique cellulose membrane that provides the highest degree of filtration possible. This paper-thin barrier – 							developed by HTI and made from Eastman’s cellulose acetate – blocks dirt, bacteria, viruses and other contaminants with a success rate 					that exceeds EPA standards for water purification. Once water is drawn in, the HydroPack’s protective membrane eliminates the possibility 				of recontamination. The nutrient powder inside produces an osmotic pressure that naturally draws water in through the membrane. HTI’s 					filtration process is known as forward osmosis and is identical to the process plants use to pull water into their roots. Eastman and HTI 				have collaborated in bringing together a brilliant technology and a thoughtful design to create the safest and most reliable mobile water 				filtration system available.</p>
		 	<p><strong><font color="#17AFE5">Reaching A World In Need</font></strong></p>
		 	<p>With an effective technology in order, HTI and Eastman sought the help of the design community in refining the idea for a more impactful 				end product. <a href="http://www.modernedge.com/"><strong>Modern Edge</strong></a> of Portland worked directly with communities in need 				to provide ethnographic research that would help identify communications problems and solutions. 																								<a href="http://rksdesign.com/"><strong>RKS Design</strong></a> took these ideas and helped shape an integrated approach between 								technology, design and implementation. Together, these collaborators have come up with a solution that is truly innovative in response to 				one of the most difficult challenges in any disaster relief effort – providing safe drink for those in need. </p>
		 	</div>
		</div>
	</div>
	<div class="hidden-phone">
		<div class="contentWrapper" id="content21">
			<iframe src="http://player.vimeo.com/video/53471602?badge=0" width="1170" height="658" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<!--<iframe width="1170" height="658" src="http://www.youtube.com/embed/Q6KiXtkqGDo" frameborder="0" allowfullscreen></iframe>-->
		</div>
	</div>
	<div class="visible-phone">
		<div class="contentWrapper" id="contentphone">
			<iframe src="http://player.vimeo.com/video/53471602?badge=0" width="300" height="169" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<!--<iframe width="300" height="169" src="http://www.youtube.com/embed/Q6KiXtkqGDo" frameborder="0" allowfullscreen></iframe>-->
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
			<div class="span12">
				<%= img '/images/irdsmall.png' %>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
			<div class="span12">
				<p>Ready Set Drop has partnered with International Relief and Development (IRD), a Washington DC-based, nongovernmental organization. The 				non- profit is responsible for implementing relief, stability and development pro- grams worldwide. IRD will receive the donated 								HydroPack products for pre-positioning and delivery to disaster-struck communities.</p>
				<p><a class="scroll" href="#content7">More About Our Partners</a></p>
			</div>
		</div>
	</div>
	 <div class="row-fluid">
	 	<div class="contentWrapper" id="content4">
	 		<h2>Position The Solution</h2>
	 		<div class="span12">
	 		<a class="scroll" href="#content7"><%= img '/images/map.png' %></a>
	 		</div>
	 	</div>
	 </div>
	 <div class="row-fluid">
	 	<div class="contentWrapper" id="content5">
	 		<h2>Hydrate The World</h2>
	 		<div class="infographic">
				<%= img '/images/infographic.png' %>
			</div>
	 	</div>
	 </div>
	 <div class="row-fluid">
	 	<div class="contentWrapper" id="content6">
	 		<div class="span11"><h2>Follow the Drop</h2>
	 		</div>
	 	</div>
	 </div>
	 <div class="row-fluid">
	 	<div class="contentWrapper">
	 		<div class="span6">
		 		<a class="twitter-timeline"  href="https://twitter.com/ReadySetDrop" data-widget-id="253230019785146368">Tweets by @ReadySetDrop</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		 	<div class="span6">
		 		<div class="fb-like-box" data-href="http://www.facebook.com/ReadySetDrop" data-width="500" data-height="600" data-show-faces="true" 
		 		data-border-color="#888888" data-stream="true" data-header="true"></div>
		 	</div>
	 	</div>
	</div>
	<div class="row-fluid">
	 	<div class="contentWrapper" id="content7">
			<h2>Partners</h2>
			<div class="span12">
				<h3>Collaborating For Social Action</h3>
				<p>Ready Set Drop is co-directed by Design Forum/PDX, Eastman Chemical and HTI. This partnership is an example of how a successful 					collaboration between designers and manufacturers leads to an important social cause and solution. This joint effort represents a 							primary interest in community well-being and a result that offers simplicity and healthy recovery in a time of confusion and 										disruption.</p>
			</div>
			<div class="span11"><hr size="5px"></div>
			<div class="span3"><a href="http://ird.org"><%= img '/images/IRD.png' %></a></div>
			<div class="span8" id="irdtext">
				<p>International Relief and Development is a nonprofit, nongovernmental organization responsible for implementing relief, stability, and 					development programs worldwide. IRD's mission is to reduce the suffering of the world's most vulnerable groups and provide the tools 						and resources needed to increase their self-sufficiency. Specializing in meeting the needs of communities emerging from conflict or 						natural disaster, IRD partners with donors, local organizations, and many others to deliver sustainable services in agriculture, 								governance, health, and infrastructure..</p>
			</div>
			<div class="span11"><hr size="5px"></div>
			<div class="span3"><a href="http://designforumpdx.com"><%= img '/images/DFPDX.png' %></a></div>
			<div class="span8" id="dfpdxtext">
				<p>Design Forum/PDX is a Portland, Oregon-based resource organization that celebrates design. The nonprofit supports creativity at every 					stage from inspiration to final product. By identifying creative opportunities and providing new tools for the design community, Design 					Forum/PDX embodies a pervasive drive to discover, collaborate and exchange ideas.</p>
			</div>
			<div class="span11"><hr size="5px"></div>
			<div class="span3"><a href="http://www.htiwater.com/"><%= img '/images/HTI.png' %></a></div>
			<div class="span8" id="htitext">
				<p>Hydration Technology Innovations is the developer of the most advanced form of water and wastewater filtration membrane technology in 					the world. HTI has more than twenty years experience in research and development of advanced separation membrane manufacturing, and 						water filtration and recycling. HTI is the global leader and pioneer in the manufacture of commercial Forward Osmosis membrane 									material, and a global leader in membrane filtration wastewater treatment systems integration and installation.</p>
			</div>
			<div class="span11"><hr size="5px"></div>
			<div class="span3" id="Eastmanlogo"><a href="http://www.innovationlab.eastman.com/default.aspx"><%= img '/images/Eastman.png' %></a></div>
			<div class="span8" id="eastmantext">
				<p>Eastman Chemical is a global specialty chemicals company that produces a broad range of advanced materials, additives and functional 					products, specialty chemicals and fibers that are found in products people use every day. As a world leader in the diverse markets it 					serves, Eastman is focused on delivering innovative and technology-based solutions while maintaining its commitment to safety and 							sustainability.</p>
			</div>
	 	</div>
	</div>
</div>