<div class="container" id="maincontainer">
	<div class="row-fluid">
		<div class="contentWrapper" id="content1">
			<%= img '/images/rsdlogo.png' %>
		</div>
	</div>
	<div class="row-fluid" id="topLogos">
		<div class="span4"><a href="http://causes.com/ReadySetDrop" id="ready" title="Causes.com/ReadySetDrop"></a>
		</div>
		<div class="span4"><a class="scroll" href="#content5" id="set" title="About the Campaign"></a>
		</div>
		<div class="span4"><a class="scroll" href="#content3" id="drop" title="The Hydropack"></a>
		</div>
	</div>
	<hr size="5px">	
	<div class="row-fluid">
		<div class="contentWrapper" id="content2">
			<div class="span8"><p class="lead">How will this happen? It starts with you. Support the cause by donating to raise money and reach our 				goal to stockpile 250,000 HydroPacks™.</p>
			</div>
			<div class="span4" id="contribute">
				<a href="#"><h3><p><strong>Click Here to <font color="#17AFE5", strong>Contribute</font></strong></p></h3></a>
			</div>
		</div>
	</div>
		<div class="hidden-phone">
			<div class="contentWrapper" id="content21">
				<iframe width="853" height="480" src="http://www.youtube.com/embed/Q6KiXtkqGDo" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="visible-phone">
			<div class="contentWrapper" id="contentphone">
				<iframe width="300" height="169" src="http://www.youtube.com/embed/Q6KiXtkqGDo" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
			<div class="span11"><p>The HydroPack™ is a single use emergency water filter that delivers 500 ml of clean and delicious nutrient drink 					from virtually any water source regardless of quality. It’s simple to use—just drop a HydroPack™ in the water and nature takes over as 					water is drawn into the pouch by forward osmosis. The membrane blocks contaminants to EPA standards for water purifiers. The HydroPack™ 				is essential for the first stage of disaster relief to provide an immediate source of hydration during crisis, enabling communities in 					their recovery. </p>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="contentWrapper">
				<div class="span4"><%= img '/images/photo1.jpg'%></div>
				<div class="span4"><%= img '/images/photo2.jpg'%></div>
		 		<div class="span4"><%= img '/images/photo3.jpg'%></div> 	
	 	</div>
	 </div>
	 <hr size="5px">
	 <div class="row-fluid">
	 	<div class="contentWrapper" id="content3">
	 		<div class="span11"><h2>What if the world had Hydropacks?</h2></div>
	 		<div class="span11"><h1>INFOGRAPHIC</h1></div>
	 	</div>
	 </div>
	 <hr size="5px">
	 <div class="row-fluid">
	 	<div class="contentWrapper" id="content4">
	 		<div class="span11"><h2>Follow the Drop</h2>
	 		</div>
	 	</div>
	 </div>
	 <div class="row-fluid">	
	 	<div class="span6"><a class="twitter-timeline"  href="https://twitter.com/ReadySetDrop" data-widget-id="253230019785146368">Tweets by 						@ReadySetDrop</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//						platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	 	<div class="span6">
	 		<div class="fb-like-box" data-href="http://www.facebook.com/ReadySetDrop" data-width="500" data-height="600" data-show-faces="true" 
	 		data-border-color="#888888" data-stream="true" data-header="true">
	 		</div>
	 	</div>
	 </div>
	<hr size="5px">
	<div class="row-fluid">
	 	<div class="contentWrapper" id="content5">
	 		<div class="span11"><p><h2>About the Campaign</h2>
				<p>Ready Set Drop is raising money to stockpile and distribute a unique hydration product called the HydroPack™. It’s a short-term 							emergency water filtration solution, which hydrates communities in the early stages of disaster recovery and enables them to regain 						strength, move forward and rebuild their communities.</p>

				<p>Ready Set Drop is proud to partner with International Relief and Development. They are a nonprofit, nongovernmental organization 						focused on disaster relief, stabilization and development programs worldwide, with a strong focus around emergency water relief 								situations. For more on IRD click <a href="http://ird.org">here.</a></p>	 			
	 		</div>
	 	</div>
	 </div>
	 <hr size="5px">
	 <div class="row-fluid">
		<div class="contentWrapper" id="content6">
			<div class="span11"><h2>About Design Forum PDX</h2>
				<p>Design Forum PDX has put together this Campaign in partnership with Eastman, Hydration Technology Innovations (HTI), and 								International Relief and Development (IRD). Design Forum PDX is an incubator of creativity where designers, business people, educators, 				students and creative thinkers find inspiration, exchange knowledge, collaborate across disciplines and make their ideas real, putting 					design to work.</p>
			</div>
		</div>
	</div>
	<hr size="5px">
	<div class="row-fluid">
		<div class="contentWrapper" id="content7">
			<div class="span11"><h2>Sponsors</h2>
		</div>
	</div>
	<div class="row-fluid" id="bottomphotos">
		<div class="contentWrapper">
			<div class="span3"><%= img '/images/HTI.png' %></div>
			<div class="span3" id="Eastmanlogo"><%= img '/images/Eastman.png' %></div>
	 		<div class="span3"><%= img '/images/DFPDX.png' %></div>
	 		<div class="span3"><%= img '/images/IRD.png' %></div>
			</div>
		</div>
	</div>
</div>